[submodule "lostlink-api-gateway"]
	path = lostlink-api-gateway
	url = https://github.com/SasinduDenuwan/lostlink-api-gateway.git
[submodule "lostlink-config-repo"]
	path = lostlink-config-repo
	url = https://github.com/SasinduDenuwan/lostlink-config-repo.git
[submodule "lostlink-config-server"]
	path = lostlink-config-server
	url = https://github.com/SasinduDenuwan/lostlink-config-server.git
[submodule "lostlink-eureka-server"]
	path = lostlink-eureka-server
	url = https://github.com/SasinduDenuwan/lostlink-eureka-server.git
